{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 border border-2 p-3" >
                    <h1 class="text-light fs-6 auth-title" >Add Category</h1>

                </div>
            </div>
        </div>
    </div>
                      <div class="container p-3">
                    <form method="post" enctype="multipart/form-data">

                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" class="btn btn-primary">
                    </form>
                      </div>
{% endblock %}
