{% extends 'base.html' %}

{% block content %}
    <!-- Start All Title Box -->
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>PAYMENT</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <!-- End All Title Box -->
<div class="container mt-5 p-5 text-center w-50">

    <h1>Payment success,Thank you for ordering</h1>
</div>
    </div>

{% endblock %}